body {
	font-family: arial;
}

.fas {
	color: #757575;
}


#page {
	min-height: 100vh; /* 1 */
	display: flex; /* 2 */
	flex-direction: column; /* 3 */
}

a {
	color: black;
	text-decoration: none;
	font-size: 85%;
}

a:hover {
	text-decoration: underline;
}

#header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10px;
  margin-top: 10px;
}

#header div {
	margin-right: 10px;
}

footer {
	background-color: #f2f2f2;
	border-top: 1px solid #e4e4e4;
	color: #757575;
}

footer a {
	color: #757575;
}

#fr { 
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#leftright {
	border-top: 1px solid #e4e4e4;
	display: flex;
	justify-content: space-between;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.flex-footer {
	display: flex;
	flex-direction: column;
}

#left {
	display: flex;
}

#left div {
	margin-right: 20px;
}

#right {
	display: flex;
}

#right div {
	margin-right: 20px;
}

.bouton {
	display: flex;
}

.bouton input {
	background-color: #f2f2f2;
	color: #757575;
	border: none;
	padding: 10px;
	font-weight: bold;
	margin: 5px;
	font-size: 13px;
	border-radius: 2px;
}

.bouton input:hover {
	border: 1px solid lightgrey;
}

.bouton input:focus {
	outline: none;
	border: 1px solid #4285f4;
}

button {
	display: block;
	background-color: #4285f4;
	color: white;
	padding: 8px;
	border: none;
	border-radius: 2px;
	outline: none;
	font-weight: bold;
	font-size: 12;

}

img {
	margin-bottom: 20px;
}

input {
	display: block;
}

input[type="text"] {
	height: 40px;
	width: 600px;
	background-color: white;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16);
	border: 0.5px solid #f2f2f2;
	font-size: 18px;
	padding: 0 10px;
	margin-bottom: 20px;
}

input[type="text"]:hover {
	box-shadow: 0 4px 4px 0px rgba(0,0,0,0.16);
}

input[type="text"]:focus {
	box-shadow: 0 4px 4px 0px rgba(0,0,0,0.16);
	outline: none;
}

#content {
    flex-grow: 1; /* 4 */
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;

}